:root {
    --main-font-size: 35px;
    --main-color: white;
    --main-border-color: black;
    --main-border-width: 2px;
    --main-profile-pic-border-width: 4px;
    --main-profile-pic-width: 75px;
    --center-align: center;
}

.app-container {
    text-align: var(--center-align);
}

@media (prefers-reduced-motion: no-preference) {
    .profile-picture {
        animation: profile-picture-spin infinite 3s normal;
    }
}

@keyframes profile-picture-spin {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.score-text {
    font-size: var(--main-font-size);
    color: var(--main-color);
    width: 100%;
    text-align: var(--center-align);
}

.profile-picture {
    width: var(--main-profile-pic-width);
    border-radius: 50%;
    border: var(--main-profile-pic-border-width) var(--main-border-color) solid;
}

.left-col, .right-col {
    margin: 0;
    padding: 0;
}

.left-col {
    border-right: var(--main-border-width) var(--main-color) solid;
}

.right-col {
    border-left: var(--main-border-width) var(--main-color) solid;
    text-align: right;

}
