.App {
    text-align: center;
    /*background: black;*/
}

@media (prefers-reduced-motion: no-preference) {
    .PFP {
        animation: App-logo-spin infinite 3s linear;
    }
}

@keyframes App-logo-spin {
    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.score-text {
    font-size: 35px;
    color: white;
    width: 100%;
    text-align: center;
}

.PFP {
    width: 75px;
    border-radius: 50%;
    border: 4px black solid;
}

.left-col {
    margin: 0;
    padding: 0;
    border-right: 2px white solid;
}

.right-col {
    margin: 0;
    padding: 0;
    border-left: 2px white solid;
}
